<!-- <h1>{{title}}</h1>
<hr> -->
<!-- <br>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores minus hic mollitia officiis ratione illum ducimus voluptatibus omnis perspiciatis natus impedit nemo possimus reprehenderit voluptatem est, dolorum optio praesentium error.</p>
<hr>
<h3>Counter= {{counter}}</h3> -->
<!--<button (click)="incrementarPor1()">+1</button>
<button (click)="decrementarPor1()">-1</button>-->

<!-- <button (click)="increaseBy(1)">+1</button>
<button (click)="increaseBy(0)">RESET</button>
<button (click)="increaseBy(-1)">-1</button>

<br><br> -->
<!-- <app-counter></app-counter>

<app-heroes-hero></app-heroes-hero>
<app-heroes-ist></app-heroes-ist> -->


<app-dbz-main-page></app-dbz-main-page>
